<div class="home-side-bar-wrapper">
  <% if featured_playlist.present? %>
    <div class="home-side-bar">
      <div class="chart-name">
        <p>現在のチャート:<span style="color: orange;"><%= featured_playlist.name %></span></p>
        <p style="font-size: 12px;">曲をクリックすると試聴できます(一部制限あり)</p>
      </div>
      <% featured_playlist_tracks.each do |track| %>
        <div class="chart-artist">
          <div><%= display_artist_image(track.artists.first,2) %></div>
          <div class="chart-artist-info">
            <div><%= track.artists.first.name %></div>
            <div><%= link_to track.name, track.preview_url %></div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
  <%= render 'member_registration' %>
</div>