<% unless current_user %>
  <div class="member-registration-wrapper">
    <div class="member-registration">
      <p style="font-weight: bold;">新規会員登録</p>
      <p style="color: gray;">ログインするとメンバー募集記事を出したり、ユーザー同士のチャットができるようになります</p>
      <p class="text-center"><%= link_to '会員登録', signup_path, class: 'btn btn-primary' %></p>
    </div>
  </div>
<% end %>