<div class="service-description-box">
  <div>
    <ol>
      <li class="text-center">
        <span style="color: orange;">G</span>
        <span style="color: #0645AD;">roove</span>
        <span style="color: orange;">W</span>
        <span style="color: #0645AD;">ith!</span>
        でバンドメンバー探しを始めよう!
      </li>
      <li>まずは新規登録ページからアカウントを作成しよう！</li>
      <li>検索機能で気になる記事やユーザーを探してみよう！</li>
      <li>実際にメンバー募集や加入希望記事を書いてみよう！</li>
      <li>足跡機能で自分の記事に興味を持った人をチェック！</li>
      <li>バンドを組む約束をしたら最後に練習曲を決めよう！</li>
    </ol>
  </div>
</div>