<div class="home-wrapper"> 
  <div class="home-main-block">
    <%= render 'service_description_box' %>
    <h3 class="page-title">新着メンバー<span class="new-mark">New!</span></h3>
    <div><%= render @users %></div>
    <div class='edit_link'>
      <%= link_to '条件を絞ってメンバーを探す', users_path, class: 'btn btn-default' %>
    </div>
    <h3 class="page-title">新着メンバー募集記事<span class="new-mark">New!</span></h3>
    <div><%= render @recruitment_articles %></div>
    <div class='edit_link'>
      <%= link_to '条件を絞ってメンバー募集記事を探す', recruitment_articles_path, class: 'btn btn-default' %>
    </div>
    <h3 class="page-title">新着加入希望記事<span class="new-mark">New!</span></h3>
    <div><%= render @join_articles %></div>
    <div class='edit_link'>
      <%= link_to '条件を絞って加入希望記事を探す', join_articles_path, class: 'btn btn-default' %>
    </div>
    <% if current_user %>
      <h3 class="page-title"><%= current_user.favorite_music %>が好き！</h3>
      <div class='recommended_users'><%= render @recommended_users %></div>
    <% end %>
  </div>
  <%= render 'home_side_bar', featured_playlist: @featured_playlist, featured_playlist_tracks: @featured_playlist_tracks %>
</div>