<div class="all-messages">
  <% if message.user == current_user %>
    <div class='my-messages'>
      <p class="message-content"><%= message.content %></p>
    </div>
    <span class="my-messege-created-time">
      <%= message_already_read(message) %>
      <%= message.created_at.strftime('%Y/%m/%d %H:%M') %>
    </span>
  <% else %>
    <div class="talker-messages">
      <div style="margin-top: 5px;">
        <%= link_to user_path(message.user) do %>
          <%= set_user_avatar(message, 75) %>
        <% end %>
      </div>
      <ul class="user-info">
        <li class="user-name"><%= message.user.name %></li>
        <li class="talker-message-content"><%= message.content %></li>
        <li><%= message.created_at.strftime('%Y/%m/%d %H:%M') %></li>
      </ul>
    </div>
  <% end %>
</div>