<%= render 'layouts/error_messages', model: f.object %>
<%= f.hidden_field :gender, :value => current_user.gender %>
<%= f.hidden_field :age, :value => current_user.age %>
<div class="field">
  <%= f.label :type, '記事の種類' %>
  <span class="article-type"><%= f.hidden_field :type, :value => 'メンバー募集' %>メンバー募集</span>
</div>
<div class="field">
  <%= f.label :title, "タイトル" %><span class='required_mark'>【必須】</span>
  <%= f.text_field :title, placeholder: "例:「ギター募集中！」", class: "form-control", autofocus: true %>
</div>
<div class="field">
  <%= f.label :instrument, "募集するパート" %><span class='required_mark'>【必須】</span>
  <div class='instruments_box'>
    <% ["ボーカル", "ギター", "ベース", "ドラム", "ピアノ・キーボード", "管楽器", "弦楽器", "その他"].each do |instrument| %>
      <div class='instruments_btn'>
        <%= f.check_box :instrument,  {multiple: true}, instrument, nil %>
        <%= instrument %>
      </div>
    <% end %>
  </div>
</div>
<div class="field">
  <%= f.label :prefecture %><span class='required_mark'>【必須】</span>
  <%= f.select :prefecture, ["北海道", "青森県", "岩手県", "宮城県", "秋田県", "山形県", "福島県",
                             "東京都", "神奈川県", "埼玉県", "千葉県", "茨城県", "栃木県", "群馬県", "山梨県",
                             "新潟県", "長野県", "富山県", "石川県", "福井県", "愛知県", "岐阜県", "静岡県", 
                             "三重県", "大阪府", "兵庫県", "京都府", "滋賀県", "奈良県", "和歌山県",
                             "鳥取県", "島根県", "岡山県", "広島県", "山口県", "徳島県", "香川県", "愛媛県", "高知県",
                             "福岡県", "佐賀県", "長崎県", "熊本県", "大分県", "宮崎県", "鹿児島県", "沖縄県"], {prompt: "選択してください"}, class: "form-control" %>
</div>
<div class="field">
  <%= f.label :description, "本文" %><span class='required_mark'>【必須】</span>
  <span class="description"><%= f.text_area :description, placeholder: "記事を書いてみよう！", class: "form-control" %></span>
</div>