<% provide(:title, 'メンバー募集記事の検索') %>
<h3 class="page-title">メンバー募集記事の検索</h3>
<%= render 'recruitment_search_form' %>
<div>
  <%= render @articles %>
</div>
<div class="text-center"><%= paginate @articles %></div>