<% provide(:title, '記事の管理') %>
<h3 class="page-title">メンバー募集記事の投稿</h3>
<%= form_for(@article, url: {controller: 'recruitment_articles', action: 'create' }) do |f| %>
  <%= render 'recruitment_article_form', f: f %>
  <div class='actions'>
    <%= f.submit "投稿する", class: 'btn btn-default' %>
  </div>
<% end %>
