<div class="test-login-form">
  <p class="text-center"><i class="fa fa-sign-in"></i>テストユーザーとしてログインできます</p>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= f.hidden_field :email, value: 'sample@test.com' %>
    <%= f.hidden_field :password, value: 'hogehoge' %>
    <div class="actions"><%= f.submit 'テストログイン', class: 'btn btn-primary' %></div>
  <% end %>
</div>
