<% provide(:title, 'ログイン') %>
<h3 class="page-title">ログインフォーム</h3>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="login_field">
    <%= f.label :email %><span class='required_mark'>【必須】</span><br />
    <%= f.email_field :email, autofocus: true, class: "form-control", autocomplete: "email" %>
  </div>
  <div class="login_field">
    <%= f.label :password %><span class='required_mark'>【必須】</span><br />
    <%= f.password_field :password, class: "form-control", autocomplete: "current-password" %>
    <div class="remember_me_field">
      <% if devise_mapping.rememberable? %>
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me, '次回から自動でログイン' %>
      <% end %>
    </div>
  </div>
  <div class="actions"><%= f.submit "ログイン", class: 'btn btn-default' %></div>
<% end %>
<%= render 'session_links' %>
<%= render 'test_login_form' %>
