<div class="articles">
  <div class='users toggle'>
    <div style="margin-top: 5px;"><%= set_user_avatar(article, 75)%></div>
    <ul class='user-info' style="color: black;">
      <li class='article-title'>   
        <% if article.type == 'メンバー募集'%>
          <span class='recruitment-mark'>(募)</span>
        <% else %>
          <span class='join-mark'>(加)</span>
        <% end %>
        <%= article.title %>
      </li>
      <li>
        名前:<%= article.user.name %>,
        活動場所:<%= article.prefecture %>
      </li>
      <li>
        年齢:<%= article.user.age %>代,
        性別:<span class= <%= set_gender(article)%>><%= article.user.gender %><span>
      </li>
    </ul>
  </div>
  <div class="self_introduction">
    <p style="font-weight:bold;">【詳細】</p>
    <pre><%= article.description %></pre>
    <div class="reader-actions">
      <div class=reader-action-box>
        <%= link_to article_path(article) do %>
          <div><i class = "fa fa-file-text fa-2x"></i></div>
          <div>記事の詳細</div>
        <% end %>
      </div>
      <% if current_user == article.user %>
        <div class=reader-action-box>
          <%= link_to edit_join_article_path(article) do %>
            <div class="message-link">
              <div><i class="fa fa-edit fa-2x"></i></div>
              <div>記事の編集</div>
            </div>
          <% end %>
        </div>
      <% else%>
        <div class=reader-action-box>
          <%= link_to rooms_path(talker_id: article.user.id), method: :post do %>
            <div class="message-link">
              <div><i class="fa fa-envelope fa-2x"></i></div>
              <div>メッセージ</div>
            </div>
          <% end %>
        </div>
      <% end %>
      <div class="reader-action-box slide_up">
        <div><i class = "fa fa-times-circle fa-2x"></i></div>
        <div>閉じる</div>
      </div>
    </div>
  </div>
</div>