<div class="reader-actions">
  <div class=reader-action-box>
    <% if article.type == "メンバー募集" %>
      <%= link_to edit_recruitment_article_path(article) do %>
        <div><i class="fa fa-edit fa-3x"></i></div>
        <div>記事の編集</div>
      <% end %>
    <% else %>
      <%= link_to edit_join_article_path(article) do %>
        <div><i class="fa fa-edit fa-3x"></i></div>
        <div>記事の編集</div>
      <% end %>
    <% end %>
  </div>
  <div class=reader-action-box>
    <%= link_to renew_article_path(article) do %>
      <div><i class="fa fa-file fa-3x"></i></div>
      <div>記事の更新</div>
    <% end %>
  </div>
  <div class=reader-action-box>
    <%= link_to "/articles/#{article.id}", method: :delete, data: {confirm: "記事を本当に削除しますか？"} do %>
      <div><i class="fa fa-trash fa-3x"></i></div>
      <div>記事の削除</div>
    <% end %>
  </div>
</div>