<div class="reader-actions">
  <div class=reader-action-box id="likes_buttons">
    <%= render partial: 'likes/like', locals: { article: article } %>
  </div>
  <div class=reader-action-box>
    <%= link_to user_path(article.user) do %>
      <div><i class = "fa fa-user fa-3x"></i></div>
      <div>プロフィール</div>
    <% end %>
  </div>
  <div class=reader-action-box>
    <%= link_to rooms_path(talker_id: article.user.id), method: :post do %>
      <div class="message-link">
        <div><i class="fa fa-envelope fa-3x"></i></div>
        <div>メッセージ</div>
      </div>
    <% end %>
  </div>
</div>