<% if current_user == article.user %>
  <%= render 'author_actions', article: @article %>
<% elsif user_signed_in? %>
  <%= render 'logged_in_user_actions', article: @article %>
<% else %>
  <div class='edit_link'>
    <%= link_to 'ログインしてメッセージを送る', rooms_path(talker_id: article.user.id), method: :post, class: 'btn btn-default' %>
  </div>
<% end %>
