<% provide(:title, '記事一覧') %>
<h3 class="page-title">記事一覧</h3>
<p><%= link_to 'メンバー募集記事を検索はこちら', recruitment_articles_path %></p>
<p><%= link_to '加入希望記事を検索はこちら', join_articles_path %></p>
<div><%= render @articles %></div>
<div class="text-center"><%= paginate @articles %></div>