<% provide(:title, @article.title) %>
<h3 class="page-title"><%= @article.title %></h3>
<div class='article-section'>
  <p class="article-section-title">記事の内容</p>
  <p class='introduction_letter'><%= @article.description %></p>
</div>
<div class='article-section'>
  <p class="article-section-title">基本情報</p>
  <ul>
    <li>記事のタイプ:<%= @article.type %></li>
    <li>活動場所:<%= @article.prefecture %></li>
    <li>加入希望のパート:<%= @article.instrument %></li>
  </ul>
</div>
<div class='article-section'>
  <p class="article-section-title">投稿者情報</p>
  <ul>
    <li><%= set_user_avatar(@article, 100)%></li>
    <li>名前:<%= @article.user.name %></li>
    <li>年齢:<%= @article.user.age %>代</li>
    <li>性別:<span class= <%= set_gender(@article)%>><%= @article.user.gender %><span></li>
    <li>担当パート:<%= @article.user.instrument %></li>
    <li><%= link_to '詳しくプロフィールを見る', user_path(@article.user) %></li>
  </ul>
</div>
<%= render 'reader_actions', article: @article %>