<% if current_user && current_user.already_liked?(article) %>
  <%=link_to article_like_path(article_id: article.id, id: current_user.id), class: 'unlike', method: :delete, remote: true do %>
    <div><span class="fa fa-star like-btn-unlike"></span></div>
    <div>お気に入り</div>
  <% end %>
<% else %>
  <%=link_to article_likes_path(article.id), class: 'like', method: :post, remote: true do %>
    <div><span class="fa fa-star like-btn"></span></div>
    <div>お気に入り</div>
  <% end %>
<% end %>