<h3 class="page-title"><%= user.name %>さんのプロフィール</h3>
<div class='user_avatar'>
  <%= set_user_avatar(user, 100)%>
</div>
<ul class="user_infos">
  <li><span>名前</span><p class="column_value"><%= user.name %></p></li>
  <li><span>年齢</span><p class="column_value"><%= user.age %>代</p></li>
  <li><span>性別</span><p class="column_value"><%= user.gender %></p></li>
  <li><span>都道府県</span><p class="column_value"><%= user.prefecture%></p></li>
  <li><span>担当パート</span><p class="column_value"><%= user.instrument %></p></li>
  <li><span>どんなバンドが組みたい？</span><p class="column_value"><%= user.favorite_music %></p></li>
  <li><span>自己紹介</span><p class="introduction_letter"><%= user.self_introduction %></p></li>
</ul>
