<%= search_form_for(@q, url:search_users_path) do |f| %>
  <div class="field">
    <%= f.label :name_cont, "ユーザー名" %>
    <%= f.search_field :name_cont, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :instrument_cont, '楽器の種類' %>
    <%= f.select :instrument_cont, ["ボーカル", "ギター", "ベース", "ドラム", "ピアノ・キーボード", "管楽器", "弦楽器", "その他"], {prompt: "選択してください"}, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :gender_cont, '性別' %>
    <%= f.select :gender_cont, ["男性", "女性"], {prompt: "選択してください"}, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :prefecture_cont, '活動場所' %>
    <%= f.select :prefecture_cont, ["北海道", "青森県", "岩手県", "宮城県", "秋田県", "山形県", "福島県",
                                "東京都", "神奈川県", "埼玉県", "千葉県", "茨城県", "栃木県", "群馬県", "山梨県",
                                "新潟県", "長野県", "富山県", "石川県", "福井県", "愛知県", "岐阜県", "静岡県", 
                                "三重県", "大阪府", "兵庫県", "京都府", "滋賀県", "奈良県", "和歌山県",
                                "鳥取県", "島根県", "岡山県", "広島県", "山口県", "徳島県", "香川県", "愛媛県", "高知県",
                                "福岡県", "佐賀県", "長崎県", "熊本県", "大分県", "宮崎県", "鹿児島県", "沖縄県"], {prompt: "選択してください"}, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :age_cont, '年齢' %>
    <%= f.select :age_cont, [["10代", 10], ["20代", 20], ["30代", 30],  ["40代", 40], ["50代", 50],["60代以上", 60] ], {prompt: "選択してください"}, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :favorite_music_cont, 'どんなバンドを組みたい？' %>
    <%= f.select :favorite_music_cont, ['あいみょん','BUMP OF CHICKEN','ずっと真夜中でいいのに。','9mm Parabellum Bullet',
                                        'JUDY AND MARY','SiM','東京事変','THE BLUE HEARTS'], {prompt: "選択してください"}, class: "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit "検索する", class: 'btn btn-default' %>
  </div>
<% end %>