<div class="users-wrapper">
  <div class='users toggle'>
    <div style="margin-top: 5px;"><%= set_user_avatar(user, 75)%></div>
    <ul class="user-info" style="color: black;">
      <li class='user-name'>名前:<%= user.name %></li>
      <li>
        <%= "年齢:#{user.age}代" %>,
        性別:<span class= <%= set_gender(user) %>><%= user.gender %><span>
      </li>
      <li><%= "活動場所:#{user.prefecture}, 担当パート:#{user.instrument}" %></li>
    </ul>
  </div>
  <div class="self_introduction">
    <p style="font-weight:bold;">【自己紹介】</p>
    <pre><%= user.self_introduction %></pre>
    <div class="reader-actions">
      <div class=reader-action-box>
        <%= link_to user_path(user) do %>
          <div><i class = "fa fa-user fa-2x"></i></div>
          <div>プロフィール</div>
        <% end %>
      </div>
      <% if current_user == user %>
        <div class=reader-action-box>
          <%= link_to edit_user_registration_path(user) do %>
            <div class="message-link">
              <div><i class="fa fa-edit fa-2x"></i></div>
              <div>プロフィールを編集</div>
            </div>
          <% end %>
        </div>
      <% else %>
        <div class=reader-action-box>
          <%= link_to rooms_path(talker_id: user.id), method: :post do %>
            <div class="message-link">
              <div><i class="fa fa-envelope fa-2x"></i></div>
              <div>メッセージ</div>
            </div>
          <% end %>
        </div>
      <% end %>
      <div class="reader-action-box slide_up">
        <div><i class = "fa fa-times-circle fa-2x"></i></div>
        <div>閉じる</div>
      </div>
    </div>
  </div>
</div>