<% provide(:title, '検索結果') %>
<h3 class="page-title">検索結果</h3>
<% if @users.blank? %>
  <p class="text-center">検索はヒットしませんでした</p>
<% else %>
  <%= render @users %>
<% end %>
<div class="text-center"><%= paginate @users %></div>