<% provide(:title, "#{@user.name}さんのプロフィール") %>
<%= render 'user_info', user: @user %>
<div>
  <% if current_user == @user %>
    <div class='edit_link'><%= link_to 'プロフィールを編集する', edit_user_registration_path, class: 'btn btn-default' %></div>
  <% else %>
    <div class='edit_link'>
      <%= link_to rooms_path(talker_id: @user.id), method: :post, class: "btn btn-default" do %>
        <i class="fa fa-envelope"></i><%= "メッセージを送る" %>
      <% end %>
    </div>
  <% end %>
</div>
<h3 class="articles-title"><%= "#{@user.name}さんの記事一覧" %></h3>
<%= render @articles %>
<% if current_user == @user %>
  <h3>足あと</h3>
  <%= render @footprints %>
<% end %>