<% provide(:title, '記事の管理') %>
<h3 class="page-title">加入希望記事の修正</h3>
<%= form_for(@article,url: { controller: 'join_articles', action: 'update' }) do |f| %>
  <%= render 'join_article_form', f: f %>
  <div class='actions'>
    <%= f.submit "記事を修正する", class: 'btn btn-default' %>
  </div>
<% end %>
