<% provide(:title, '加入希望記事の検索') %>
<h3 class="page-title">加入希望記事の検索</h3>
<%= render 'join_search_form' %>
<div>
  <%= render @articles %>
</div>
<div class="text-center"><%= paginate @articles %></div>