<% provide(:title, '記事の管理') %>
<h3 class="page-title">加入希望記事の投稿</h3>
<%= form_for(@article, url: { controller: 'join_articles', action: 'create' }) do |f| %>
  <%= render 'join_article_form', f: f %>
  <div class='actions'>
    <%= f.submit "投稿する", class: 'btn btn-default' %>
  </div>
<% end %>
