<% provide(:title, '検索結果') %>
<h3 class="page-title">検索結果</h3>
<% if @articles.blank? %>
  <p class="text-center">検索はヒットしませんでした</p>
<% else %>
  <%= render @articles %>
<% end %>
<div class="text-center"><%= paginate @articles %></div>