<div class="last-message">
  <% last_message = room.messages.last %>
  <% if last_message && last_message.user == current_user %>
    <p><%= last_message.content.truncate(50) %></p>
    <div class="message-created-time">
      <%= last_message.created_at.strftime('%Y/%m/%d %H:%M') %>
    </div>
  <% elsif last_message && last_message.user != current_user %>
    <p><span style="color: red;">未返信:</span><%= last_message.content.truncate(50) %></p>
    <div class="message-created-time">
      <%= last_message.created_at.strftime('%Y/%m/%d %H:%M') %>
    </div>
  <% end %>
</div>