<%= form_for(@message, url: {controller: 'messages', action: 'create' }) do |f| %>
  <%= render 'layouts/error_messages', model: f.object %>
  <%= f.hidden_field :room_id, :value => room.id %>
  <%= f.label :content %><span class='required_mark'>【必須】</span>
  <%= f.text_area :content, placeholder: "＊1000文字以内/絵文字使用不可", class: "form-control" %> 
  <div class='actions'>
    <%= f.submit "投稿する", class: 'btn btn-primary btn-block' %>
  </div>
<% end %>