<% if current_user == User.find(room.talker_id) %>
  <% user = User.find(room.user_id) %>
<% else %>
  <% user = User.find(room.talker_id) %>
<% end %>
<%= link_to room_path(room) do %>
  <div class="users-wrapper">
    <div class='users'>
      <div style="margin-top: 5px;"><%= set_user_avatar(user, 75)%></div>
      <ul class="user-info">
        <li class="user-name"><%= user.name %></li>
        <li>
          <%= "#{user.prefecture}, #{user.age}代," %>
          <span class=<%= set_gender(user)%>><%= user.gender %><span>
          <%= render 'last_message', room: room %>
        </li>
      </ul>
    </div>
  </div>
<% end %>
