<% if @talker %>
  <h3 class="page-title"><%= @talker.name %></h3>
<% else %>
  <h3 class="page-title">退会済みユーザー</h3>
<% end %>
<%= render 'rooms/message_form', room: @room %>
<%= render @messages %>
<div class="chat-delete-link">
  <%= link_to "/rooms/#{@room.id}", method: :delete, data: {confirm: "チャットルームを本当に削除しますか？"} do %>
    <div><i class="fa fa-trash fa-1x"></i>チャットルームを削除する</div>
  <% end %>
</div>

