<div><%= @talker.name %>さんこんにちは、<%= @message.user.name %>さんからメッセージが届いています！</div><br/>
<div>【メッセージ内容】</div>
<p><%= @message.content.truncate(45) %></p><br/>
<div>確認は以下のリンクから</div><br/>
<div><%= link_to 'メッセージを確認する', rooms_url %></div>