<h3 class="page-title">パスワード再設定フォーム</h3>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= render 'layouts/error_messages', model: f.object %>
  <%= f.hidden_field :reset_password_token %>
  <div class="login_field">
    <%= f.label :password, "新しいパスワード" %><br />
    <%= f.password_field :password, class: "form-control", autofocus: true, autocomplete: "new-password" %>
  </div>
  <div class="login_field">
    <%= f.label :password_confirmation, "確認用パスワード" %><br />
    <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "new-password" %>
  </div>
  <div class="actions">
    <%= f.submit "パスワードを変更する", class: 'btn btn-default' %>
  </div>
<% end %>
