<h3 class="page-title">パスワードの再設定</h3>
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render 'layouts/error_messages', model: f.object %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class: "form-control", autocomplete: "email" %>
  </div>
  <div class="actions">
    <%= f.submit "メールを送信する", class: 'btn btn-default' %>
  </div>
<% end %>
<ul class="session-links">
  <li><%= link_to '新規登録がお済みでない方はこちら', signup_path %></li>
  <li><%= link_to 'ログインはこちら', login_path %></li>
</ul>
