<div class='footprint_user'>
  <p><%= footprint.created_at.strftime('%Y/%m/%d %H:%M') %></p>
  <p class='footprint_user_name'><%= link_to footprint.user.name, user_path(footprint.user.id) %></p>
</div>