/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';

 ul {
    list-style: none;
    padding-inline-start: 0;
  }

  a:hover {
    text-decoration: none;
  }
  
  /*headerのデザイン*/

  .header-logo{
    font-size: 30px;
    padding-top: 25px;
    color: orange;
    font-family: cursive;
  }

  .header-lists{
    display: flex;
    justify-content: flex-end;
    margin-left: 50px;
    line-height: 87px;
  }

  .header-list{
    padding-left: 8px;
    padding-right: 8px;
    font-size: 17px;
  }

  .header-list i{
    margin-right: 2px;
  }

  .header-list:hover{
    background-color: orange;
  }

  .header-container{
    max-width: 1150px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  .header-wrap{
    width: 100%;
    height: 90px;
    background-color: white;
    border-bottom: solid 1px #FFA500;
    border-top: solid 3px #FFA500;
  }

  .header-list div{
    width: 100%;
    height: 100%;
    color: black;
  }

  .fa-circle{
    font-size: 13px;
    position: relative; 
    top: 5px;
    right: 10px;
    color:#FF4F50;
  }

  /*second-headerのデザイン*/

  .second-header-wrap{
    width: 100%;
    height: 80px;
    background-color: #FFFAF0;
    border-bottom: solid 1px rgb(211, 208, 203);
    position: sticky;
    top: 0;
    z-index: 1;
  }

  .second-header-lists{
    display: flex;
    justify-content: space-between;
    line-height: 80px;
  }

  .second-header-container{
    max-width: 1150px;
    margin: 0 auto;
  }

   /*footerのデザイン*/
 .footer {
    background: #999;
    color: white;
    padding: 5rem 0;
    margin-top: 15rem;
    text-align: center;
  }

  .container {
    background-color: white;
    min-height: 650px;
  }

  body{
    background-color: white;
  }

  .picture{
    display: inline-block;
  }


  #error_explanation h2{
    font-size: 17px;
    padding: 0.5em 0 0.5em 40px;
  }

  .user_infos li {
    border-bottom: solid 1px silver;
    font-size: 20px;
    line-height: 35px;
  }

  .user_infos span {
    font-weight: 550;
    font-size: 15px;
    margin-top: 10px;
    color: #8B4513;
  }

  .column_value{
    margin-left: 10px;
    padding-top: 15px;
  }

  .edit_link{
    margin-top: 50px;
    text-align: center;
  }

  .btn-default{
    background-color: #FFA500;
    color: white;
    font-size: 15px;
    border-radius: 30px;
    padding: 10px  110px
  }

  .introduction_letter{
    white-space: pre-wrap;
    font-size: 15px;
    margin-left: 10px;
  }
  
  .required_mark{
    color: #FF8C00;
  }

  //signupページ用
  .field{
    padding: 30px;
    border-bottom: solid 1px silver;
  }

  .column_field{
    text-align: center;
    margin-top: 5px;
  }

  
  .paginate{
    margin: 0 auto;
    width: 400px;
  }

  .actions{
    text-align: center;
    margin-top: 30px;
  }

  .gender_btns{
    display: flex;
    justify-content: space-around;
  }

  //loginページ用
  .login_field{
    margin: 40px auto;

  }

  .remember_me_field{
    margin-top: 20px;
  }


  .session-links{
    text-align: center;
    margin-top: 20px;
  }

  .session-links li{
    padding-top: 5px;
  }

  .test-login-form{
    margin-top: 60px;
    font-weight: bold;
  }

  //editページ用
  .avatar_field{
    text-align: center;
  }

  //articles#new
  .instruments_box{
    display: flex;
    flex-wrap: wrap;
  }
  
  .instruments_btn{
    margin: 10px;
  }

  /*articles#showのデザイン*/

  .article-section{
    border-bottom: 1px solid silver;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }

  .article-section li{
    padding-top: 5px;
  }

  .article-section-title{
    font-size: 15px;
    font-weight: 550;
    padding-bottom: 20px;
    color: orange;
  }

  .article-section ul{
    font-size: 16px;
    margin-left: 10px;
  }

  .reader-action-box{
    padding: 0.5em 1em;
    margin: 2em 0;
    width: 33%;
    border: solid 1px silver;
    text-align: center;
    border-radius: 4px;
  }

  .reader-actions{
    display: flex;
  }

  /*ページネーション自体のデザイン*/
  .pagination>li>a {          
    border: none;     /*枠線をなくす*/
    color: #696969;   /*文字の色を変える*/
  }

  /* 表示しているページ番号のデザイン */
  .pagination>.active>a {     
    background: #93c9ff;     /*背景の色を変える*/
    border-radius: 15px;     /*角を丸くする*/
  }

  /*ホバー時のデザイン*/
  .pagination>li>a:hover {        
    border-radius: 15px;
  }
   /*お気に入りボタンのデザイン*/
  .like-btn{
    color: #a6a688;
  }
  
  
  .like-btn-unlike{
    color: #f7f31d;
  }
  
  .fa-star{
    font-size: 40px;
  }

  /*_article.html.erbのデザイン*/
  .article-title{
    display: flex;
    font-size: 20px;
  }

  .article-user-info{
    font-size: 15px;
  }

  .articles{
    margin-bottom: 45px;
    color: black;
    background: #FFFAF0;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
  }

  .recruitment-mark{
    color: #191970;
  }

  .join-mark{
    color: #8B4513;
  }

  /*_user.html.erbのデザイン*/

  .users-wrapper{
    background: #FFFAF0;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
    margin-bottom: 45px;
    border-radius: 9px;
  }

  .users{
    display: flex;
    padding: 0.2em 1em;
    margin: 1em 0;
    color: black;
  }

  .self_introduction{
    display: none;
    padding: 0 1em 1em 1em;
  }

  .user-name{
    font-size: 20px;
  }

  .male{
    color: blue
  }

  .female{
    color: #F08080;
  }

  .user-info{
    padding-left: 8px;
  }

  .user-info li {
    margin-bottom: 2px;
  }

  /*static_pages#homeのデザイン*/
  .user-articles{
    display: flex;
    justify-content: space-between;
  }

  .articles-title{
    border-bottom: 1px solid;
    padding-bottom: 15px;
  }

  .page-title{
    padding: 0.5em 1em;
    margin: 1em 0;
    color: #474747;
    background: #EEEEEE;/*背景色*/
    border-left: double 7px orange;/*左線*/
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);/*影*/
  }

  .new-mark{
    color: orange;
    padding-left: 5px;
    animation: flash 2s linear infinite;
  }

  @keyframes flash {
    0%,100% {
      opacity: 1;
    }
  
    50% {
      opacity: 0;
    }
  }

  .service-description-box {
    font-size: 15px;
    height: 300px;
    width: auto;
    margin: 1em 0;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    background-image: image-url("live.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Arial, Helvetica, sans-serif;
  }

  .service-description-box ol{
    margin:0 auto;
    max-width:450px;
  }

  .service-description-box li{
    margin-top: 14px;
  }

  .menu-btns{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    max-width: 1100px;
    margin: 8px auto;
  }

  .btn-border{
    padding: 35px 0;
    display: block;
    font-size: 20px;
    font-weight: bold;
  }

  .menu-btns div{
    width:50%;
    background-color: white;
    border: 2px solid orange;
    border-radius: 5px;
  }

  .menu-btns div:hover{
    background-color: #EEEEEE;
  }

  .box15 {
    padding: 0.2em 0.5em;
    margin: 2em 0;
    color: #565656;
    background: #F5F5F5;
    display: block;
    border: dashed 2px orange;
    border-radius: 8px;
    width: 30%;
    height: 50px;
  }
  /*rooms#indexのデザイン*/

  .last-message{
    font-size: 15px;
    padding-top: 8px;
    color: gray;
  }

  .message-created-time{
    display: flex;
    justify-content: space-between;
  }

  /*rooms#showのデザイン*/
  .chat-delete-link{
    margin-top: 20px;
    text-align: right;
  }

  /*_messageのデザイン*/

  .all-messages{
    width: 90%;
    margin: 0 auto;
  }

  .talker-message-content{
    white-space: pre-wrap;
    position: relative;
    padding: 8px 15px;
    background: #EEEEEE;
    border-radius: 10px;
    min-width: 120px;
    max-width: 100%;
      
  }

  .talker-messages{
    display: flex;
    padding: 10px;
  }

  .message-content{
    white-space: pre-wrap;
    position: relative;
    display: inline-block;
    margin-top: 1.5em;
    padding: 7px 10px;
    min-width: 120px;
    max-width: 100%;
    border-radius: 5px;
    color: #555;
    font-size: 16px;
    background: #e0edff;
  }

  .message-content:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -15px;
    border: 8px solid transparent;
    border-left: 8px solid #e0edff;
  }

  .my-messages{
    display: flex;
    justify-content: flex-end;
  }

  .my-messege-created-time{
    font-size: 12px;
    display: flex;
    justify-content: flex-end;
  }

  .hamburger-menu{
    display: none;
  }

  /*bottom-menu 後にスマホだけに移行*/

  .bottom-menus{
    display: none;
  }


  .description textarea{
    height: 200px;
  }

  .article-type{
    margin-left: 30px;
  }

  .footprint_user{
    display: flex;
    border-bottom: 1px solid silver;
    line-height: 60px;
  }
  
  .footprint_user_name{
    margin-left: 20px;
  }

  .artist-page{
    display: flex;
    margin: 0 auto;
    justify-content: center;
  }

  .artist-info{
    width: 70%;
  }

  .artist-info-inner{
    width: 70%;
    margin: 0 auto;
  }

  .related_artist{
    font-size: 17px;
    border: 1px solid gray;
    border-radius: 3px;
  }

  .related_artist button{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    border: 1px solid gray;
    border-radius: 0;
    font: inherit;
    outline: none;
    background-color: #EEEEEE;
    width: 100%;
    padding: 5px;
  }

  .related_artist img{
    width: 50px;
    height: 50px;
    margin: 12px;
    -o-object-fit: cover;
    object-fit: cover;
  }

  .related_artist button:hover{
    background-color: white;
  }

  .related_artist_name{
    text-align: left;
  }

  .tracks{
    display: none;
  }

  .toggle{
    font-size: 16px;
    cursor: pointer;
  }

  .music-search-text-field{
    padding-right: 30px;
  }

  .artists-for-beginners{
    width: 70%;
    margin: 0 auto;
    padding-bottom: 10px;
  }

  .artists-for-beginners ul{
    display: flex;
    font-size: 15px;
  }

  .artists-for-beginners input{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    border: 1px solid #EEEEEE;
    border-radius: 0;
    font: inherit;
    outline: none;
    background-color: #EEEEEE;
    margin: 5px;
  }

  .artists-for-beginners input:hover{
    background-color: white;
  }

  .music-genres{
    display: flex;
  }

  .music-genres li{
    padding: 0 7px;
  }

  .home-wrapper{
    display: flex;
  }

  .home-main-block{
    width: 75%;
  }

  .home-side-bar-wrapper{
    width: 25%;
    height: 50%;
    margin: 15px 0 0 10px;
  }

  .home-side-bar{
    background-color: #EEEEEE;
    border: 1px solid gray;
    border-radius: 3px;
  }

  .home-side-bar img{
    width: 50px;
    height: 50px;
    margin: 12px;
    -o-object-fit: cover;
    object-fit: cover;
  }

  .chart-artist{
    border-bottom: 1px solid gray;
    display: flex;
  }

  .chart-artist-info{
    margin-top: 12px;
  }

  .chart-name{
    border-bottom: 1px solid gray;
  }

  .member-registration{
    border: 1px solid silver;
    padding: 15px;
  }

  .member-registration-wrapper{
    margin-top: 50px;
    border: 12px solid #FFF8DC;
  }

  .tracks-info{
    max-width: 600px;
    margin: 0 auto;
    font-size: 20px;
  }

  .tracks-info img{
    width: 200px;
    height: 200px;
    margin: 12px;
    -o-object-fit: cover;
    object-fit: cover;
  }

  .track-basic-info{
    display: flex;
  }

  .track-basic-info li{
    margin: 4px 0px;
  }

  .track-additional-info{
    font-size: 13px;
    margin: 0px 12px 35px 12px;
    background-color: #EEEEEE;
    border: 1px solid #D3D3D3;
  }

  .track-additional-info li{
    padding-bottom: 5px;
  }

  .track_graph {
    box-sizing: border-box;
    padding: 4px;
    margin: 8px;
  }
  /* 項目のキャプションが折り返してしまわないように設定 */
  .track_graph_label {
    white-space: nowrap;
  }

  .slide_up{
    cursor: pointer;
  }

  .artists-search-form-responsive{
    display: none;
  }

/*スマホ・タブレット用のcssを記述*/

@media screen and (max-width: 1000px) {
  
  .articles {
    width: 100%;
  }

  .btn-default{
    background-color:#FFA500;
    color: white;
    font-size: 13px;
    border-radius: 30px;
    padding: 10px  50px
  }

  .edit_link{
    margin-top: 25px;
    text-align: center;
  }

  .box15 {
    padding: 0.2em 0.5em;
    margin: 2em 0;
    color: #565656;
    background: #F5F5F5;
    display: block;
    border: dashed 2px orange;
    border-radius: 8px;
    width: 45%;
    height: 80px;
  }

  .instruments_box{
    display: flex;
    flex-wrap: wrap;
  }

  .header-logo{
    font-size: 30px;
    padding-top: 25px;
    color: orange;
    font-family: cursive;
    font-weight: 700;
  }

  .article-title{
    display: flex;
    font-size: 17px;
    font-weight: 550;
  }

  .user-name{
    font-size: 17px;
  }
 

  /*ハンバーガー（仮）*/

  .hamburger-menu{
    display: block;
    font-size: 30px;
    margin-top: 11px;
    margin-right: 30px;
  }

  #nav-drawer {
    position: relative;
  }

  /*チェックボックス等は非表示に*/
  .nav-unshown {
    display: none;
  }

  /*アイコンのスペース*/
  #nav-open {
    display: inline-block;
    width: 30px;
    height: 22px;
    vertical-align: middle;
  }

  /*ハンバーガーアイコンをCSSだけで表現*/
  #nav-open span, #nav-open span:before, #nav-open span:after {
    position: absolute;
    height: 3px;/*線の太さ*/
    width: 25px;/*長さ*/
    border-radius: 3px;
    background: #555;
    display: block;
    content: '';
    cursor: pointer;
  }

  #nav-open span:before {
    bottom: -8px;
  }

  #nav-open span:after {
    bottom: -16px;
  }

  /*閉じる用の薄黒カバー*/
  #nav-close {
    display: none;/*はじめは隠しておく*/
    position: fixed;
    z-index: 99;
    top: 0;/*全体に広がるように*/
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;
    transition: .3s ease-in-out;
  }

  /*中身*/
  #nav-content {
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;/*最前面に*/
    width: 90%;/*右側に隙間を作る（閉じるカバーを表示）*/
    max-width: 330px;/*最大幅（調整してください）*/
    height: 100%;
    background: #fff;/*背景色*/
    transition: .3s ease-in-out;/*滑らかに表示*/
    -webkit-transform: translateX(-105%);
    transform: translateX(-105%);/*左に隠しておく*/
  }

  /*チェックが入ったらもろもろ表示*/
  #nav-input:checked ~ #nav-close {
    display: block;/*カバーを表示*/
    opacity: .5;
  }

  #nav-input:checked ~ #nav-content {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);/*中身を表示（右へスライド）*/
    box-shadow: 6px 0 25px rgba(0,0,0,.15);
  }

  .header-lists{
    display: none;
  }

  .second-header-wrap{
    display: none;
  }

  .header-list div{
    padding-top: 5px;
  }

  .header-list{
    background-color: #EEEEEE;
    border-bottom: 1px solid silver;
    line-height: 40px;
  }

  .menu{
    font-size: 20px;
    border-bottom: 1px solid orange;
    border-top: 1px solid orange;
    color: orange;
  }

  .header-wrap{
    height: 60px;
    position: fixed;
    margin-bottom: 60px;
    margin-bottom: 5px;
    z-index: 999;
  }

  .header-logo{
    font-size: 25px;
    padding-top: 15px;
    padding-left: 15px;
    color: orange;
    font-family: cursive;
  }

  .container{
    padding-top: 60px;
    margin-bottom: 10rem;
    min-height: 650px;
  }

  .footer {
    background: #999;
    color: white;
    padding: 18px 0;
    text-align: center;
    margin-top: 0px;
  }

  .bottom-menus{
    background-color: #EEEEEE	;
    border-top: 1px solid silver;
    padding: 13px 0;
    position: fixed;
    bottom: 0px;
    width: 100%;
    display: block;
  }
  
  .bottom-menu-logo{
    font-size: 20px;
  }
  
  .bottom-menu-lists{
    display: flex;
    justify-content: space-around;
    margin-bottom: 0px;
    width: 100%;
  }
  
  .bottom-menu-letter{
    font-size: 8px;
    color: black;
  }
  
  .bottom-menu-list{
    text-align: center;
  }
  
  .service-description-box {
    font-size: 13px;
  }

  .member-registration-wrapper{
    display: none;
  }

  .home-wrapper{
    display: block;
  }

  .home-main-block{
    width: 100%;
  }

  .home-side-bar-wrapper{
    width: 100%;
    margin: 20px auto;
  }

  .artist-page{
    display: block;
    margin: 0 auto;
  }

  .artist-info{
    width: 100%;
    text-align: center;
  }

  .artist-info-inner{
    width: 100%;
    margin: 0 auto;
  }

  .music-genres{
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
  }

  .artists-for-beginners{
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
  }

  .artists-search-form-responsive{
    display: block;
    text-align: center;
    margin-bottom: 30px;
  }

  .artists-search-form-pc{
    display: none;
  }

  .related-artist-wrapper{
    margin: 15px auto;
    text-align: center;
  }

  .artists-for-beginners ul{
    display: flex;
    margin: 0 auto;
  }

  .artists-for-beginners input{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    border: 1px solid #EEEEEE;
    border-radius: 0;
    font: inherit;
    outline: none;
    background-color: #EEEEEE;
  }
}

/*スマホ画面用のcssを記述*/
@media screen and (max-width: 600px) {
  .service-description-box {
    font-size: 10px;
    max-height: 200px;
  }

  .artists-for-beginners li{
    font-size: 8px;
  }

  .tracks-info{
    font-size: 14px;
  }
}

/*デスクトップパソコン用のcssを記述*/
@media screen and (min-width: 1500px) {
  .container{
    min-height: 1000px;
  }
}