<div>
  <%= form_with url: search_musics_path, method: :get, local: true do |form| %>
    <%= form.text_field :search, placeholder: "アーティスト名で検索", class: "music-search-text-field" %>
    <%= form.submit '検索' %>
  <% end %>
</div>