<% artists = ["モンゴル800", "Green Day", "yonige", "Chatmonchy"] %>
<div class="artists-for-beginners">
  <h3>初心者におすすめのアーティスト</h3>
  <p style="color: orange;">＊初心者でもコピーしやすいバンドはこちら！</p>
  <ul>
    <% artists.each do |artist| %>
      <li>
        <%= form_with url: search_musics_path, method: :get, local: true do |form| %>
          <%= form.hidden_field :search, value: artist%>
          <%= form.submit artist %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
