<% if artist %>
  <div class="artist-info-inner">
    <h3><%= artist.name %></h3>
    <%= display_artist_image(artist,1) %>
    <h3>ジャンル</h3>
    <ul class="music-genres">
      <% artist.genres.each do |genre| %>
        <li><%= genre %></li>
      <% end %>
    </ul>
    <h3>アルバム</h3>
    <p style="color: orange;">＊アルバムをクリックすると収録曲を確認できます</p>
    <% if albums %>
      <% albums.each do |album| %>
        <p class="toggle"><%= album.name %></p>
        <ul class="tracks">
          <p style="color: orange;">＊曲名をクリックすると試聴することができます</p>
          <% album.tracks.each do |track| %>
            <li><%= link_to track.name, track.preview_url %></li>
          <% end %>
        </ul>
      <% end %>
    <% end %>
  </div>
<% end %>