<div class="related-artist-wrapper">
  <h3>関連アーティスト</h3>
  <% if related_artists.present? %>
    <div class="related_artist">
      <% related_artists.each do |related_artist| %>
        <%= form_with url: search_musics_path, method: :get, local: true do |form| %>
          <%= form.hidden_field :search, value: related_artist.name %>
          <%= button_tag :type => "submit" do %>
            <div class="related_artist_name">
              <%= display_artist_image(related_artist,2) %>
              <%= related_artist.name %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>