<% provide(:title, 'アーティストを検索') %>
<h3 class="page-title">アーティストを検索して練習曲を決めよう</h3>
<div class="artists-search-form-responsive"><%= render 'artists_search_form' %></div>
<div class="artist-page">
  <div class="artist-info">
    <%= render 'artists_for_beginners' %>
    <%= render 'artist_info_inner', artist: @artist, albums: @albums %>
    <div class="artists-for-beginners">
      <h3>練習曲を探そう</h3>
      <p>バンドメンバーが集まったら、次は練習曲を決めてみませんか？</p>
      <p>初心者の場合は上記の4つのバンドから練習曲を決めるのがおすすめです！</p>
      <p><%= link_to 'おすすめ練習曲はこちら', songs_musics_path %></p>
    </div>
  </div>
  <div>
    <span class="artists-search-form-pc"><%= render 'artists_search_form' %></span>
    <%= render 'related_artists', related_artists: @related_artists %>
  </div> 
</div>
