<% provide(:title, '初心者向けおすすめ練習曲') %>
<h3 class="page-title">初心者向けおすすめ練習曲</h3>
<div class="text-center">
  <%= form_with url: songs_musics_path, method: :get, local: true do |form| %>
    <%= form.text_field :search, placeholder: "曲名から検索", class: "music-search-text-field" %>
    <%= form.submit '検索' %>
  <% end %>
</div>
<div class="tracks-info">
  <% if @tracks %>
    <% @tracks.each do |track| %>
      <div class="track-basic-info">
        <p><%= display_artist_image(track.artists.first, 1) %></p>
        <ul class="chart-artist-info">
          <li>アーティスト名:<%= track.artists.first.name %></li>
          <li><%= link_to track.name, track.preview_url %></li>
          <li>曲の長さ:<%= Time.at(track.audio_features.duration_ms / 1000).utc.strftime('%X') %></li>
          <li>BPM/テンポ:<%= track.audio_features.tempo.to_i %></li>
          <li>曲のキー/主和音:<%= track_key(track.audio_features.key) %><%= track_mode(track.audio_features.mode) %></li>
        </ul>
      </div>
      <ul class="track-additional-info">
        <% track_feature_points(track).each do |key, value| %>
          <li class="track_graph" style=<%= track_info_graf(value) %>><span class="track_graph_label"><%= key %><%= track_score(value) %></span></li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
</div>