<% if user_signed_in? %>
  <div class="bottom-menus">
    <div class="bottom-menu-lists">
      <ul class="bottom-menu-list">
        <%= link_to current_user do %>
          <li class="bottom-menu-logo"><i class="fa fa-address-card"></i></li>
          <li class="bottom-menu-letter">マイページ</li>
        <% end %>
      </ul>
      <ul class="bottom-menu-list">
        <%= link_to rooms_path do %>
          <li class="bottom-menu-logo">
            <i class="fa fa-envelope"></i>
            <% if @non_read_messages %>
              <i class="fa fa-circle"></i>
            <% end %>
          </li>
          <li class="bottom-menu-letter">メッセージ</li>
        <% end %>
      </ul>
      <ul class="bottom-menu-list">
        <%= link_to new_recruitment_article_path do %>
          <li class="bottom-menu-logo"><i class="fa fa-edit"></i></li>
          <li class="bottom-menu-letter">メンバー募集</li>
        <% end %>
      </ul>
      <ul class="bottom-menu-list">
        <%= link_to new_join_article_path do %>
          <li class="bottom-menu-logo"><i class="fa fa-edit"></i></li>
          <li class="bottom-menu-letter">加入希望</li>
        <% end %>
      </ul>
      <ul class="bottom-menu-list">
        <%= link_to likes_articles_path do %>
          <li class="bottom-menu-logo"><i class="fa fa-heart"></i></li>
          <li class="bottom-menu-letter">お気に入り</li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
