<!-- ハンバーガー -->
<div class="hamburger-menu">
  <div id="nav-drawer">
    <input id="nav-input" type="checkbox" class="nav-unshown">
    <label id="nav-open" for="nav-input"><span></span></label>
    <label class="nav-unshown" id="nav-close" for="nav-input"></label>
    <div id="nav-content">
      <ul>
        <li class="menu">menu</li>
        <li class="header-list">
          <%= link_to articles_path do %>
            <div><i class="fa fa-file"></i>記事一覧</div>
          <% end %>
        </li>
        <li class="header-list">
          <%= link_to users_path do %>
            <div><i class="fa fa-users"></i>メンバーを探す</div>
          <% end %>
        </li>
        <li class="header-list">
          <%= link_to search_musics_path do %>
            <div><i class="fa fa-music"></i>アーティスト名から探す</div>
          <% end %>
        </li>
        <li class="header-list">
          <%= link_to songs_musics_path do %>
            <div><i class="fa fa-play-circle"></i>曲名から探す</div>
          <% end %>
        </li>
        <% if user_signed_in? %>
          <li class="menu">会員menu</li>
          <li class="header-list">
            <%= link_to current_user do %>
              <div><i class="fa fa-address-card"></i>マイページ</div>
            <% end %>
          </li>
          <li class="header-list">
            <%= link_to rooms_path do %>
              <div><i class="fa fa-envelope"></i>メッセージ</div>
            <% end %>
          </li>
          <li class="header-list">
            <%= link_to new_recruitment_article_path do %>
              <div><i class="fa fa-edit"></i>メンバー募集記事の投稿</div>
            <% end %>
          </li>
          <li class="header-list">
            <%= link_to new_join_article_path do %>
              <div><i class="fa fa-edit"></i>加入希望記事の投稿</div>
            <% end %>
          </li>
          <li class="header-list">
            <%= link_to likes_articles_path do %>
              <div><i class="fa fa-heart"></i>お気に入りの記事</div>
            <% end %>
          </li>
          <% if current_user.try(:admin?) %>
            <li class="header-list">
              <%= link_to rails_admin_path do %>
                <div>管理者ページ</div>
              <% end %>
            </li>
          <% end %>
          <li class="header-list">
            <%= link_to logout_path, method: :delete do %>
              <div><i class="fa fa-sign-out"></i>ログアウト</div>
            <% end %>
          </li>
        <% else %>
          <li class="header-list">
            <%= link_to login_path do %>
              <div><i class="fa fa-sign-in"></i>ログイン</div>
            <% end %>
          </li>
          <li class="header-list">
            <%= link_to signup_path do %>
              <div><i class="fa fa-user-plus"></i>新規登録</div>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>