<!-- パソコン画面用-->
<ul class="header-lists">
  <li class="header-list">
    <%= link_to search_musics_path do %>
      <div><i class="fa fa-music"></i>アーティスト名から探す</div>
    <% end %>
  </li>
  <li class="header-list">
    <%= link_to songs_musics_path do %>
      <div><i class="fa fa-play-circle"></i>曲名から探す</div>
    <% end %>
  </li>
  <li class="header-list">
    <%= link_to articles_path do %>
      <div><i class="fa fa-file"></i>記事一覧</div>
    <% end %>
  </li>
  <li class="header-list">
    <%= link_to users_path do %>
      <div><i class="fa fa-users"></i>メンバーを探す</div>
    <% end %>
  </li>
  <% if user_signed_in? %>
    <li class="header-list">
      <%= link_to logout_path, method: :delete do %>
        <div><i class="fa fa-sign-out"></i>ログアウト</div>
      <% end %>
    </li>
  <% else %>
    <li class="header-list">
      <%= link_to login_path do %>
        <div><i class="fa fa-sign-in"></i>ログイン</div>
      <% end %>
    </li>
  <% end %>
</ul>