<!-- header -->
<div class='header-wrap'>
  <header class='header-container'>
    <div class="header-logo">
      <%= link_to root_path do %>
        <span style="color: orange;">G</span>roove<span style="color: orange">W</span>ith!
      <% end %>
    </div>
    <!-- スマホ用-->
    <%= render 'layouts/hamburger_menu' %>
    <!-- パソコン画面用-->
    <%= render 'layouts/header_menu' %>
  </header>
</div>
