<% if user_signed_in? %>
  <div class='second-header-wrap'>
    <div class='second-header-container'>
      <ul class="second-header-lists">
        <li class="header-list">
          <%= link_to current_user do %>
            <div><i class="fa fa-address-card"></i>マイページ</div>
          <% end %>
        </li>
        <li class="header-list">
          <%= link_to rooms_path do %>
            <div>
              <i class="fa fa-envelope"></i>
              <% if @non_read_messages %>
                <i class="fa fa-circle"></i>
              <% end %>
              メッセージ
            </div>
          <% end %>
        </li>
        <li class="header-list">
          <%= link_to new_recruitment_article_path do %>
            <div><i class="fa fa-edit"></i>メンバー募集記事の投稿</div>
          <% end %>
        </li>
        <li class="header-list">
          <%= link_to new_join_article_path do %>
            <div><i class="fa fa-edit"></i>加入希望記事の投稿</div>
          <% end %>
        </li>
        <li class="header-list">
          <%= link_to likes_articles_path do %>
            <div><i class="fa fa-heart"></i>お気に入りの記事</div>
          <% end %>
        </li>
        <% if current_user.try(:admin?) %>
          <li class="header-list">
            <%= link_to rails_admin_path do %>
              <div>管理者ページ</div>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>