<p>Welcome <%= @email %>!</p>

<p>この度はGrooveWith!にご登録頂きまして誠にありがとうございます。</p>

<p>以下のメールアドレスの認証をもちまして本登録の完了になります。</p>

<p><%= link_to 'メールアドレスを認証する', confirmation_url(@resource, confirmation_token: @token) %></p>
