<% provide(:title, 'プロフィール設定') %>
<h3 class="page-title">プロフィール設定フォーム</h3>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <div class="alert-warning"><%= render 'layouts/error_messages', model: f.object %></div>
  <div class='column_field'>
    <%= set_user_avatar(@user, 100)%>
  </div>
  <div class="field avatar_field">
    <%= f.label :avatar %><br />
    <div class='picture'><%= f.file_field :avatar, accept: 'image/jpg,image/jpeg,image/gif,image/png' %></div>
  </div>
  <div class="field">
    <%= f.label :name%>
    <%= f.text_field :name, class: "form-control", autofocus: true  %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, class: "form-control", autocomplete: "email" %>
  </div>
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>
  <div class="field">
    <%= f.label :password,'新しいパスワード' %>
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %>文字以上)</em>
    <% end %>
    <%= f.password_field :password, class: "form-control", autocomplete: "new-password" %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "new-password" %>
  </div>
  <div class="field">
    <%= f.label :age %>
    <%= f.select :age, [["10代", 10], ["20代", 20], ["30代", 30],  ["40代", 40], ["50代", 50],["60代以上", 60] ], {prompt: "選択してください"}, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :gender %><span class='required_mark'>【必須】</span>
    <%= f.select :gender, ["男性", "女性"], {prompt: "選択してください"}, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :prefecture %><span class='required_mark'>【必須】</span> 
    <%= f.select :prefecture, ["北海道", "青森県", "岩手県", "宮城県", "秋田県", "山形県", "福島県",
                                "東京都", "神奈川県", "埼玉県", "千葉県", "茨城県", "栃木県", "群馬県", "山梨県",
                                "新潟県", "長野県", "富山県", "石川県", "福井県", "愛知県", "岐阜県", "静岡県", 
                                "三重県", "大阪府", "兵庫県", "京都府", "滋賀県", "奈良県", "和歌山県",
                                "鳥取県", "島根県", "岡山県", "広島県", "山口県", "徳島県", "香川県", "愛媛県", "高知県",
                                "福岡県", "佐賀県", "長崎県", "熊本県", "大分県", "宮崎県", "鹿児島県", "沖縄県"], {prompt: "選択してください"}, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :instrument, '担当パート' %><span class='required_mark'>【必須】</span>
    <%= f.select :instrument, ["ボーカル", "ギター", "ベース", "ドラム", "ピアノ・キーボード", "管楽器", "弦楽器", "その他"], {prompt: "選択してください"}, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :favorite_music, 'どんなバンドを組みたい？' %><span class='required_mark'>【必須】</span><br>(おすすめに表示されるユーザーが変わります)
    <%= f.select :favorite_music, ['あいみょん','BUMP OF CHICKEN','ずっと真夜中でいいのに。','9mm Parabellum Bullet',
                                   'JUDY AND MARY','SiM','東京事変','THE BLUE HEARTS'], {prompt: "選択してください"}, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :self_introduction, "自己紹介" %>
    <span class="description"><%= f.text_area :self_introduction, class: "form-control", placeholder: "自己紹介文を書こう！" %></span>
  </div>
  <div class="field">
    <%= f.label :current_password %><span class='required_mark'>【必須】</span>
    <%= f.password_field :current_password, class: "form-control", autocomplete: "current-password" %>
  </div>
  <div class="actions">
    <%= f.submit "プロフィールを更新する", class: 'btn btn-default' %>
  </div>
<% end %>
